<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFirewallNotifier.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsFirewallNotifier.Settings>
            <setting name="EnableServiceDetection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsoleSize" serializeAs="String">
                <value>770, 507</value>
            </setting>
            <setting name="ConsoleState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="UseAnimation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableForAllAccounts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseBlockRules" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableFor" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsFirewallNotifier.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
