<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wokhan.WindowsFirewallNotifier.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wokhan.WindowsFirewallNotifier.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Wokhan.WindowsFirewallNotifier.Configuration>
      <setting name="ConsoleSizeHeight" serializeAs="Int32">
        <value>500</value>
      </setting>
      <setting name="ConsoleSizeWidth" serializeAs="Int32">
        <value>850</value>
      </setting>
      <setting name="ConsoleState" serializeAs="Windows.WindowState">
        <value>Normal</value>
      </setting>
      <setting name="FirstRun" serializeAs="Boolean">
        <value>True</value>
      </setting>
      <setting name="UseAnimation" serializeAs="Boolean">
        <value>True</value>
      </setting>
      <setting name="EnableForAllAccounts" serializeAs="Boolean">
        <value>False</value>
      </setting>
      <setting name="EnableFor" serializeAs="Int32">
        <value>0</value>
      </setting>
      <setting name="AlwaysShowDetails" serializeAs="Boolean">
        <value>False</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="Boolean">
        <value>True</value>
      </setting>
      <setting name="AccentColor" serializeAs="Windows.Media.SolidColorBrush">
        <value>#FFFF7F50</value>
      </setting>
      <setting name="EnableVerboseLogging" serializeAs="Boolean">
        <value>False</value>
      </setting>
      <setting name="AlwaysRunAs" serializeAs="Boolean">
        <value>False</value>
      </setting>
    </Wokhan.WindowsFirewallNotifier.Configuration>
  </userSettings>
  <applicationSettings>
    <Wokhan.WindowsFirewallNotifier.Configuration>
      <setting name="EnableServiceDetectionGlobal" serializeAs="Boolean">
        <value>True</value>
      </setting>
      <setting name="UseBlockRulesGlobal" serializeAs="Boolean">
        <value>True</value>
      </setting>
    </Wokhan.WindowsFirewallNotifier.Configuration>
  </applicationSettings>
</configuration>
