<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wokhan.WindowsFirewallNotifier.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Wokhan.WindowsFirewallNotifier.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wokhan.WindowsFirewallNotifier.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Wokhan.WindowsFirewallNotifier.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
  </runtime>
  <userSettings>
    <Wokhan.WindowsFirewallNotifier.Common.Settings>
      <setting name="ConsoleSizeHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ConsoleState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="UseAnimation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableForAllAccounts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableFor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AlwaysShowDetails" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConsoleSizeWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>#FFFF7F50</value>
      </setting>
      <setting name="EnableVerboseLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlwaysRunAs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDnsResolver" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterTcpOnlyEvents" serializeAs="String">
        <value>False</value>
      </setting>
    </Wokhan.WindowsFirewallNotifier.Common.Settings>
    <Wokhan.WindowsFirewallNotifier.Configuration>
      <setting name="ConsoleSizeHeight" serializeAs="Int32">
        <value>500</value>
      </setting>
      <setting name="ConsoleSizeWidth" serializeAs="Int32">
        <value>850</value>
      </setting>
      <setting name="ConsoleState" serializeAs="Windows.WindowState">
        <value>Normal</value>
      </setting>
      <setting name="FirstRun" serializeAs="Boolean">
        <value>True</value>
      </setting>
      <setting name="UseAnimation" serializeAs="Boolean">
        <value>True</value>
      </setting>
      <setting name="EnableForAllAccounts" serializeAs="Boolean">
        <value>False</value>
      </setting>
      <setting name="EnableFor" serializeAs="Int32">
        <value>0</value>
      </setting>
      <setting name="AlwaysShowDetails" serializeAs="Boolean">
        <value>False</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="Boolean">
        <value>True</value>
      </setting>
      <setting name="AccentColor" serializeAs="Windows.Media.SolidColorBrush">
        <value>#FFFF7F50</value>
      </setting>
      <setting name="EnableVerboseLogging" serializeAs="Boolean">
        <value>False</value>
      </setting>
      <setting name="AlwaysRunAs" serializeAs="Boolean">
        <value>False</value>
      </setting>
      <setting name="EnableDnsResolver" serializeAs="Boolean">
        <value>False</value>
      </setting>
      <setting name="FilterTcpOnlyEvents" serializeAs="Boolean">
        <value>False</value>
      </setting>

    </Wokhan.WindowsFirewallNotifier.Configuration>
  </userSettings>
  <applicationSettings>
    <Wokhan.WindowsFirewallNotifier.Common.Settings>
      <setting name="EnableServiceDetectionGlobal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseBlockRulesGlobal" serializeAs="String">
        <value>True</value>
      </setting>
    </Wokhan.WindowsFirewallNotifier.Common.Settings>
    <Wokhan.WindowsFirewallNotifier.Configuration>
      <setting name="EnableServiceDetectionGlobal" serializeAs="Boolean">
        <value>True</value>
      </setting>
      <setting name="UseBlockRulesGlobal" serializeAs="Boolean">
        <value>True</value>
      </setting>
    </Wokhan.WindowsFirewallNotifier.Configuration>
  </applicationSettings>
</configuration>
