<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wokhan.WindowsFirewallNotifier.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wokhan.WindowsFirewallNotifier.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Wokhan.WindowsFirewallNotifier.Common.Settings>
      <setting name="ConsoleSizeHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ConsoleState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="UseAnimation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableForAllAccounts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableFor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AlwaysShowDetails" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConsoleSizeWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>#FFC0C0C0</value>
      </setting>
      <setting name="EnableVerboseLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDnsResolver" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FilterTcpOnlyEvents" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AuditPolEnableSuccessEvent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TargetInfoUrl" serializeAs="String">
        <value>https://bgpview.io/ip/{0}</value>
      </setting>
      <setting name="TargetPortUrl" serializeAs="String">
        <value>https://www.speedguide.net/port.php?port={0}</value>
      </setting>
      <setting name="ActivityWindow_Position" serializeAs="String">
        <value>0,0</value>
      </setting>
      <setting name="ActivityWindow_Shown" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ActivityWindow_Orientation" serializeAs="String">
        <value>Horizontal</value>
      </setting>
    </Wokhan.WindowsFirewallNotifier.Common.Settings>
  </userSettings>
  <applicationSettings>
    <Wokhan.WindowsFirewallNotifier.Common.Settings>
      <setting name="EnableServiceDetectionGlobal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseBlockRulesGlobal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlwaysRunAs" serializeAs="String">
        <value>True</value>
      </setting>
    </Wokhan.WindowsFirewallNotifier.Common.Settings>
  </applicationSettings>
</configuration>
